@import "tailwindcss";

@layer base {
  button {
    @apply cursor-pointer;
    @apply hover:bg-green/20;
    @apply px-2;
  }
}

@theme {
  --color-*: initial;
  --color-green: #08cb00;
  --color-black: #0f0e0e;
  --font-display: "NeoDunggeunmoPro", sans-serif;
}

@font-face {
  font-family: NeoDunggeunmoPro;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./assets/font/NeoDunggeunmoPro-Regular.woff2");
}
